.text-area .content {
    -fx-background-color: #1a2a33;
}

.text-area {
    -fx-background-color: #1a2a33;
    -fx-text-fill: #bbe1fa;
}

.spinner .content {
    -fx-body-color: #1a2a33;
    -fx-text-fill: #bbe1fa;
}

.spinner .text-field {
    -fx-background-color: #1a2a33;
    -fx-text-fill: #bbe1fa;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #BBE1FA;
    -fx-background-color: #1a2a33;
    -fx-border-color: #BBE1FA;
    -fx-border-width: 1px;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #BBE1FA;
}

.spinner .increment-arrow-button .increment-arrow:hover,
.spinner .decrement-arrow-button .decrement-arrow:hover {
    -fx-background-color: #BBE1FA;
}

.button:hover, .spinner:hover {
    -fx-effect: dropshadow(gaussian, #bbe1fa, 7, 0.25, 0.0, 0.0);
}

.text-area > .scroll-pane {
    -fx-padding: 0;
}

.scroll-bar {
    -fx-font-size: 1em;
}

.scroll-pane > .corner {
    -fx-background-color: #1a2a33;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #bbe1fa;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #1a2a33;
    -fx-border-color: #1a2a33;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #bbe1fa;
    -fx-background-radius: 0em;
}